<% if flash[:notice] %>
　<p id="notice">
    <%= flash[:notice] %>
　</p>
<% end %>

<h2>タイトル</h2><p><%= @book.title %></p>
<h2>本文</h2><p><%= @book.body %></p>

<%= link_to "edit",edit_book_path %>
<%= link_to "back",books_path %>